 * {
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
} 

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #101024;
}

a {
padding: 10px 30px;
text-decoration: none;
color: #ebdf05;
font-size: 40px;
position: relative;
}

a:before {

content: '';
position: absolute;
top: 0;
left: 0;
width: 10px;
height: 10px;
border-top: 2px solid #ebdf05;
border-left: 2px solid #ebdf05;
transition: 0.5s;
transition-delay: 0.3s;

}

/* a:hover 
{
  background: #ebdf05;
  color: #ffffff;
  box-shadow: 0 0 50px #ebdf05;
  transition-delay: 0.5s;
} */

a:hover:before 
{

  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

a:after {

  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #ebdf05;
  border-right: 2px solid #ebdf05;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.3s;
 
  
  }




  a:hover:after
{

  width: 100%;
  height: 100%;
  transition-delay: 0s;
}